
//==========  Globals ==========//

// global vars
$milestone-base-color: #cccccc;
$milestone-bar-color: #bbbbbb;
$milestone-progress-color: #ffbc42;
$milestone-completed-color: #218380;


.vefs-milestone-wrapper {
  $component-height: 50px;
  $line-height: $component-height / 10;
  $dot-size: $line-height * 3.5;

  .milestone-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: $component-height;

    .chart-container {
      display: flex;
      flex-flow: column;
      align-items: center;
      flex: 1 50%;

      .line-container {
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
        height: $dot-size;

        .line {
          align-self: center;
          position: absolute;
          top: $dot-size / 2;
          transform: translateY(-50%);
          order: 1;
          width: 100%;
          height: $line-height;
          background-color: $milestone-base-color;
          background-color: rgba($milestone-base-color, 0.5);

          &.left {
            order: 0;
            background-color: $milestone-bar-color;
          }
        }
      }

      .dot-container {
        position: absolute;
        height: $dot-size;
        width: 100%;

        .dot {
          position: absolute;
          width: $dot-size;
          height: $dot-size;
          border-radius: 50%;
          background-color: $milestone-base-color;
          transform: translateX(-50%);
          transition: all 0.25s ease-out;

          &.completed {
            background-color: $milestone-bar-color;
          }
          &.progress {
            background-color: $milestone-bar-color;
          }
        }
      }

    }

    .label-container {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      flex: 1 50%;

      .label {
        position: relative;
        color: $milestone-base-color;

        &.completed {
          color: $milestone-completed-color;
        }
        &.progress {
          color: $milestone-progress-color;
        }
      }
    }

    .milestones {
      position: absolute;
      transform: translate(-50%, 0);

      @mixin milestone( $mark) {
        &__#{$mark} {
          left: #{$mark + '%'};

          .dot {
            &.completed {
              background-color: rgba($milestone-completed-color, 1);
              transition: all 0.25s ease-out;
            }
            &.progress {
              background-color: rgba($milestone-progress-color, 1);
              transition: all 0.25s ease-out;
            }
          }
        }
      }

      &.milestone {
        // generate position and color of each milestone value
        @for $i from 0 to 101 {
            @include milestone($i);
        }
      }
    }
  }
}
