---
layout: default
meta_title: Blog
meta_description: Blog page description
body_class: blog
title: Blog
---

<body class="h-screen overflow-hidden flex items-center justify-center">
    <h1 class="page-title text-3xl p-10 md:text-center md:text-5xl lg:text-6xl">{{ title }}</h1>
    
    <section id="container-centre" class="flex-1 md:hidden column centre" aria-label="Blogs">

        <div class="posts lg:flex flex-1">

            {% for post in collections.blog %}

                <article class="article-card mb-8 mx-4 flex-1 bg-white overflow-hidden rounded-lg shadow-lg">

                    {# featured post image & category #}
                    {% if post.data.featured_image %}

                        <a class="featured-image-link block relative overflow-hidden" href="{{ post.url }}">

                            {# category link #}
                            <ul class="absolute bottom-0 left-0 flex p-8 z-10">

                                {% for item in post.data.tags %}

                                    {%- if item != "blog" -%}

                                        <li class="mr-2">

                                            <span class="inline-block bg-pink-500 px-4 py-2 text-white text-xs font-bold rounded">{{ item | capitalize }}</span>

                                        </li>

                                    {%- endif -%}

                                {% endfor %}

                            </ul>

                            <figure>

                                {# the 'data-lazy' attribute will lazy load your images in #}
                                {# the js uses the new Intersection Observer API, see ../modules/lazyload #}
                                {# it's not fully supported in some browsers, so proceed with caution! #}
                                {# the srcset attribute would be a nice addtion here as well...in a future update maybe :) #}
                                <img data-lazy="{{ post.data.featured_image }}" class="block" alt="{{ post.data.image_caption }}">

                            </figure>

                        </a>

                    {% endif %}

                    <div class="p-8">

                        <h2 class="text-2xl mb-6"><a class="block text-purple-900 hover:text-pink-500" href="{{ post.url }}">{{ post.data.title }}</a></h2>

                        <div class="text-sm text-gray-600 md:flex mb-4">

                            <p class="author">By {{ site.author.name }}</p>

                            <p class="hidden md:block px-2">—</p>

                            <time datetime="{{ post.date }}">
                                {{ post.date | dateDisplay }}
                            </time>

                        </div>

                    </div>

                </article>

            {% endfor %}

        </div>

    </section>
    
    
    
    <div class="hidden md:flex min-h-screen mb-16">
        <div class="min-h-screen flex justify-center">
            <div class="w-2/3 mx-auto">
                {% set timeline = "Left" %}
		{% for post in collections.blog %}
                    {% if timeline == "Left" %}
                        <div class="flex flex-row w-full">
                            <!-- left col -->
                            <div class="w-2/5 px-2 py-10">
                                <article class="article-card mb-8 mx-4 flex-1 bg-white overflow-hidden rounded-lg shadow-lg">
                                    {# featured post image & category #}
                                    {% if post.data.featured_image %}
                                        <a class="featured-image-link block relative overflow-hidden" href="{{ post.url }}">
                                            {# category link #}
                                            <ul class="absolute bottom-0 left-0 flex p-8 z-10">
                                                {% for item in post.data.tags %}
                                                    {%- if item != "blog" -%}
                                                        <li class="mr-2">
                                                            <span class="inline-block bg-pink-500 px-4 py-2 text-white text-xs font-bold rounded">{{ item | capitalize }}</span>
                                                        </li>
                                                    {%- endif -%}
                                                {% endfor %}
                                            </ul>

                                            <figure>
                                                {# the 'data-lazy' attribute will lazy load your images in #}
                                                {# the js uses the new Intersection Observer API, see ../modules/lazyload #}
                                                {# it's not fully supported in some browsers, so proceed with caution! #}
                                                {# the srcset attribute would be a nice addtion here as well...in a future update maybe :) #}
                                                <img data-lazy="{{ post.data.featured_image }}" class="block" alt="{{ post.data.image_caption }}">
                                            </figure>
                                        </a>
                                    {% endif %}

                                    <div class="p-8">
                                        <h2 class="text-2xl mb-6"><a class="block text-purple-900 hover:text-pink-500" href="{{ post.url }}">{{ post.data.title }}</a></h2>
                                        <div class="text-sm text-gray-600 md:flex mb-4">
                                            <p class="author">By {{ site.author.name }}</p>
<p class="hidden md:block px-2">—</p>
                                            <time datetime="{{ post.date }}">
                                                {{ post.date | dateDisplay }}
                                            </time>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!--line column-->
                            <div class="w-1/5  flex justify-center">
                                <div class="relative flex h-full w-1 bg-pink-500 items-center justify-center">
                                    <div class="absolute flex flex-col justify-center h-24 w-24 rounded-full border-2 border-pink-500 leading-none text-center z-10 bg-white font-thin">
                                        <time datetime="{{ post.date }}">
                                            {{ post.date | dateDisplay }}
                                        </time>
                                    </div>
                                </div>
                            </div>
                            <!--right column-->
                            <div class="w-2/5 px-2 py-10 ">

                            </div>
                        </div>
                    {% else %}
                    <div class="flex flex-row w-full">
                        <!-- left col -->
                        <div class="w-2/5 px-2 py-10">

                        </div>
                        <!--line column-->
                        <div class="w-1/5  flex justify-center">
                            <div class="relative flex h-full w-1 bg-pink-500 items-center justify-center">
                                <div class="absolute flex flex-col justify-center h-24 w-24 rounded-full border-2 border-pink-500 leading-none text-center z-10 bg-white font-thin">
                                    <time datetime="{{ post.date }}">
                                        {{ post.date | dateDisplay }}
                                    </time>
                                </div>
                            </div>
                        </div>
                        <!--right column-->
                        <div class="w-2/5 px-2 py-10 ">
                             <article class="article-card mb-8 mx-4 flex-1 bg-white overflow-hidden rounded-lg shadow-lg">
                                {# featured post image & category #}
                                {% if post.data.featured_image %}
                                    <a class="featured-image-link block relative overflow-hidden" href="{{ post.url }}">
                                        {# category link #}
                                        <ul class="absolute bottom-0 left-0 flex p-8 z-10">
                                            {% for item in post.data.tags %}
                                                {%- if item != "blog" -%}
                                                    <li class="mr-2">
                                                        <span class="inline-block bg-pink-500 px-4 py-2 text-white text-xs font-bold rounded">{{ item | capitalize }}</span>
                                                    </li>
                                                {%- endif -%}
                                            {% endfor %}
                                        </ul>

                                        <figure>
                                            {# the 'data-lazy' attribute will lazy load your images in #}
                                            {# the js uses the new Intersection Observer API, see ../modules/lazyload #}
                                            {# it's not fully supported in some browsers, so proceed with caution! #}
                                            {# the srcset attribute would be a nice addtion here as well...in a future update maybe :) #}
                                            <img data-lazy="{{ post.data.featured_image }}" class="block" alt="{{ post.data.image_caption }}">
                                        </figure>
                                    </a>
                                {% endif %}

                                <div class="p-8">
                                    <h2 class="text-2xl mb-6"><a class="block text-purple-900 hover:text-pink-500" href="{{ post.url }}">{{ post.data.title }}</a></h2>
                                    <div class="text-sm text-gray-600 md:flex mb-4">
                                        <p class="author">By {{ site.author.name }}</p>
                                        <p class="hidden md:block px-2">—</p>
                                        <time datetime="{{ post.date }}">
                                            {{ post.date | dateDisplay }}
                                        </time>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    {% endif %}
                    {% if timeline == "Right" %}
                        {% set timeline = "Left" %}
                    {% else %}
                        {% set timeline = "Right" %}
                    {% endif %}
                {% endfor %}
                 <div class="flex flex-row w-full">
                    <!-- left col -->
                    <div class="w-2/5 px-2 py-10">

                    </div>
                    <!--line column-->
                    <div class="w-1/5  flex justify-center">
                        <div class="relative flex h-full w-1 bg-pink-500 items-center justify-center">
                            <div class="absolute flex flex-col justify-center h-24 w-24 rounded-full border-2 border-pink-500 leading-none text-center z-10 bg-white font-thin">
                                <div>The</div>
                                <div>Start</div>
                            </div>
                        </div>
                    </div>
                    <!--right column-->
                    <div class="w-2/5 px-2 py-10 ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
