---
layout: default
meta_title: Gallery
meta_description: Gallery page description
body_class: gallery
title: Gallery
---
<body class="h-screen overflow-hidden flex items-center justify-center">
    <h1 class="page-title text-3xl p-10 md:text-center md:text-5xl lg:text-6xl">{{ title }}</h1>
<div id="pixlee_container">
</div>
<script type="text/javascript">window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'ZEJxLUflkx18zZYrCTbz'});Pixlee.addSimpleWidget({widgetId:'30849'});};</script><script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>
</body>

