---
layout: default
meta_title: Home
meta_description: We're building a chalet
body_class: home
title: We're building a chalet!
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Intro">

        <h1 class="page-title">{{ title }}</h1>

        <div class="content">

            <p>How bad can it go really?</p>

            <h2 class="text-3xl">Progress so far</h2>

            <ul class="mb-12 pl-4 checklist">
                <li class="to-do">Buy the land</li>
                <li class="to-do"> Hire a construction company</li>
                <li class="to-do">Finalize design</li>
                <li class="to-do"> Clear the land</li>
                <li class="to-do">Foundations!</li>
                <li class="to-do"> ... </li>

            </ul>

        Check out our <a href="/blog/">Blog</a> for more!
        </div>


    </section>

</main>


