---
layout: default
meta_title: Home
meta_description: We're building a chalet
body_class: home
title: We're building a chalet!
---
<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Intro">

        <h1 class="page-title text-3xl md:text-center md:text-5xl lg:text-6xl">{{ title }}</h1>

        <div class="content">

            <p class="md:text-center">It's very exciting</p>

            <div class="vefs-milestone-wrapper">
                <div class="milestone-container">

                    <div class="chart-container">
                        <div class="line-container">
                            <div class="line"></div>
                        <div class="line left"></div>
                    </div>

                    <div class="dot-container">
                        <div class="milestones milestone__0">
                            <div class="dot completed colored"></div>
                        </div>
                        <div class="milestones milestone__14">
                            <div class="dot"></div>
                        </div>
                        <div class="milestones milestone__28">
                            <div class="dot"></div>
                        </div>
                        <div class="milestones milestone__42">
                            <div class="dot"></div>
                        </div>
                        <div class="milestones milestone__56">
                            <div class="dot"></div>
                        </div>
                        <div class="milestones milestone__70">
                            <div class="dot"></div>
                        </div>
                        <div class="milestones milestone__84">
                            <div class="dot"></div>
                        </div>
                        <div class="milestones milestone__100">
                            <div class="dot"></div>
                        </div>
                    </div>
                </div>

                <div class="label-container">
                    <div class="milestones milestone__0">
                        <div class="label colored">Start!</div>
                    </div>
                    <div class="milestones milestone__14">
                        <div class="label colored">Land</div>
                    </div>
                    <div class="milestones milestone__28">
                        <div class="label colored">Design</div>
                    </div>
                    <div class="milestones milestone__42">
                        <div class="label colored">Foundation</div>
                    </div>
                    <div class="milestones milestone__56">
                        <div class="label">Walls</div>
                    </div>
                    <div class="milestones milestone__70">
                        <div class="label">Roof</div>
                    </div>
                    <div class="milestones milestone__84">
                        <div class="label">Interior</div>
                    </div>
                    <div class="milestones milestone__100">
                        <div class="label">Move In!</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- component -->
    <section class="py-12">
            <div class="container mx-auto">
                <div class="flex flex-wrap px-6">
                    <div class="w-full lg:w-1/2   md:px-4 lg:px-6 py-5">
                    {% set post = collections.blog[collections.blog.length-1] %}
                        <article class="article-card mb-8 mx-4 flex-1 bg-white overflow-hidden rounded-lg shadow-lg">
                            <h2 class="text-2xl mb-6 text-purple-900 p-8">Latest from the Blog</h2>
                            {# featured post image & category #}
                            {% if post.data.featured_image %}
                                <a class="featured-image-link block relative overflow-hidden" href="{{ post.url }}">
                                    {# category link #}
                                    <ul class="absolute bottom-0 left-0 flex p-8 z-10">
                                        {% for item in post.data.tags %}
                                            {%- if item != "blog" -%}
                                                <li class="mr-2">
                                                    <span class="inline-block bg-pink-500 px-4 py-2 text-white text-xs font-bold rounded">{{ item | capitalize }}</span>
                                                </li>
                                            {%- endif -%}
                                        {% endfor %}
                                    </ul>

                                    <figure>
                                        {# the 'data-lazy' attribute will lazy load your images in #}
                                        {# the js uses the new Intersection Observer API, see ../modules/lazyload #}
                                        {# it's not fully supported in some browsers, so proceed with caution! #}
                                        {# the srcset attribute would be a nice addtion here as well...in a future update maybe :) #}
                                        <img data-lazy="{{ post.data.featured_image }}" class="block" alt="{{ post.data.image_caption }}">
                                    </figure>
                                </a>
                            {% endif %}

                            <div class="p-8">
                                <h2 class="text-2xl mb-6"><a class="block text-purple-900 hover:text-pink-500" href="{{ post.url }}">{{ post.data.title }}</a></h2>
                                <a class="inline-block rounded md:ml-2 py-3 px-6 text-white font-bold bg-pink-500 hover:bg-white hover:text-pink-500 p-8" href="/blog/">More Blog Posts</a>
                            </div>
                        </article>
                    </div>

                    <div class="w-full lg:w-1/2  md:px-4 lg:px-6 py-5">
                        <article class="article-card mb-8 mx-4 flex-1 bg-white overflow-hidden rounded-lg shadow-lg">
                            <h2 class="text-2xl mb-6 text-purple-900 p-8">Latest Progress Photo</h2>
                            <a class="featured-image-link block relative overflow-hidden" href="{{ post.url }}">

                                <figure>
                                    {# the 'data-lazy' attribute will lazy load your images in #}
                                    {# the js uses the new Intersection Observer API, see ../modules/lazyload #}
                                    {# it's not fully supported in some browsers, so proceed with caution! #}
                                    {# the srcset attribute would be a nice addtion here as well...in a future update maybe :) #}
                                    <img data-lazy="{{ post.data.featured_image }}" class="block" alt="{{ post.data.image_caption }}">
                                </figure>
                            </a>
                            <div class="p-8">
                                <h2 class="text-2xl mb-6">13th December 2020</h2>
                                <a class="inline-block rounded md:ml-2 py-3 px-6 text-white font-bold bg-pink-500 hover:bg-white hover:text-pink-500 p-8" href="/gallery/">More Photos</a>
                            </div>
                        </article>
                    </div>
                </div>

            </div>
        </section>

</main>


